*.iml
.gradle
local.properties
.idea
.DS_Store
.externalNativeBuild
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
release/
build/
proguard/
captures/
lint/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
CMakeLists.txt.user
CMakeScripts
Testing
Makefile
install_manifest.txt
CTestTestfile.cmake
_deps
